<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ssu.readingd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingActivity"></activity>
        <activity
            android:name=".MemoEditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity android:name=".CommunitySearchResultActivity"
            android:theme="@style/NoTitle"/>
        <activity android:name=".CommunityActivity"
            android:theme="@style/NoTitle"/>
        <activity
            android:name=".MemberRegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|adjustPan"
            android:theme="@style/NoTitle"/>
        <activity android:name=".LoginActivity"
            android:theme="@style/NoTitle" />
        <activity android:name=".BookShelfActivity"
            android:theme="@style/NoTitle"/>
        <activity android:name=".MemoSearchResultActivity"
            android:theme="@style/NoTitle" />
        <activity android:name=".BookMemoListActivity"
            android:theme="@style/NoTitle"/>
        <activity android:name=".MemoListActivity"
            android:theme="@style/NoTitle"/>
        <activity android:name=".activity_test_HyeSeon" />
        <activity android:name=".MemoRegisterActivity" />
        <activity android:name=".TestSeulwooActivity" />
        <activity android:name=".TestRanActivity" />
        <activity android:name=".BookEditActivity" />
        <activity android:name=".BookManualRegisterActivity"
            android:launchMode="singleTop" />
        <activity android:name=".BookRegisterActivity" />
        <activity android:name=".BookAddSearchResultActivity" />
        <activity android:name=".FlashbackActivity" />
        <activity
            android:name=".util.LivePreviewActivity"
            android:exported="true"></activity>

        <activity
            android:name=".util.StillImageActivity"
            android:exported="true"></activity>
        <activity android:name=".util.ChooserActivity" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="barcode" />
    </application>

</manifest>